
.outer {
    display: table;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    max-width: 500px;
    border-radius: 4px;
    background-color: whitesmoke;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
  }
.newpost {
    padding: 10px;
}
.posts {
    padding: 30px;
}
.item {
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
}
.textbox {
    border: 1px solid gray;
    width: 93%;
}
.additem:hover {
    border: 2px solid #C70039;
}
.addbutton {
    background-color: #FF5733;
    color: white;
    padding: 10px;
    border-radius: 4px;
    border: none;
    width: 100%;
}
.addbutton:hover {
    background-color: #FFC300;
}
.removebutton {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    float: right;
    border-radius: 4px;
}
.removebutton:hover {
    background-color: #FF5733;
}