<div class="outer">
  <div class="middle">

    <div class="inner newpost">
        <button class="addbutton" (click)="viewForm=true">New Thought</button>
        <div *ngIf="viewForm">
          <input class="item textbox" [(ngModel)]="newPost.subject" placeholder="Subject">
          <textarea class="item textbox" [(ngModel)]="newPost.body" placeholder="Body"></textarea>
          <button class="addbutton" (click)="addPost(newPost, viewForm); viewForm=false">Add Post</button>
        </div>
      </div>

    <div class="inner posts">
      <div *ngFor="let item of postList; let i = index">
          <h3>{{item.subject}}</h3>
          <button class="removebutton" (click)="removePost(i)">X</button>
          <p>{{item.body}}</p>
        <hr>
      </div>
    </div>

  </div>
</div>
