<div class="outer">
  <div class="middle">

    <div class="inner newpost">
        <button class="addbutton" (click)="viewForm=true">New Post</button>
        <div class="inner" *ngIf="viewForm">
          <p class="item">Title</p> 
          <input class="item textbox additem" [(ngModel)]="addSubject" placeholder="Subject">
          <p class="item">Thought</p>
          <textarea class="item textbox additem" [(ngModel)]="addBody" placeholder="Body"></textarea>
          <button class="addbutton" (click)="addPost(addSubject, addBody); viewForm=false; addSubject=''; addBody=''">Add Post</button>
        </div>
      </div>

    <div class="inner posts">
      <div *ngFor="let item of postList; let i = index">
          <h3>{{item.subject}}</h3>
          <button class="removebutton" (click)="removePost(i)">X</button>
          <p>{{item.body}}</p>
        <hr>
      </div>
    </div>

  </div>
</div>
