/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
html {
    height: 100%;
}
body {
    background-image: linear-gradient(#E73D62, #7c2135);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
h1 
{
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}
