/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Coiny|Vibur');
html {
    height: 100%;
}
body {
    background-image: linear-gradient(#FF5733,#FE8166);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
h1 
{
    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
    color: #FFC300;
    letter-spacing: 5px;
    font-weight: bolder;
    margin: 0;
}
